mixin footer(isCart)
	//block footer
	a(href="#top" rel='m_PageScroll2id').scroll-up
		+icon("arrow-coner-top","icon")
	.footer-info-wrap
		.main-cont
			.footer-info
				.footer-info__coll
					.footer-info__img
						img(src="img/person/person-moto.svg", alt="")
					.footer-info__coll-info
						.footer-info__title Бесплатная доставка
						.footer-info__text При заказе от 50 руб. по г. Николаев
				.footer-info__coll
					.footer-info__coll-info
						.footer-info__title Доставка за 59 минут
						.footer-info__text или пицца в подарок
				a(href="/" style="background-image:url('img/map-bg.jpg')").footer-info__coll.footer-info__map
					.footer-info__map-text Зона доставки
	.footer-wrap
		.main-cont
			.footer
				.footer-comp
					a(href="tel:+7 (917) 58-55-05").footer-phone 8(917)58-55-05
					a(href="#").footer-mail feedback@grill1.org
					.soc-row
						a(href="#").soc-row__el
							+icon("soc-youtube","icon")
						a(href="#").soc-row__el
							+icon("soc-instagram","icon")
						a(href="#").soc-row__el
							+icon("soc-vk","icon")

				.footer-nav
					.footer-col
						.type--lg.type--bold.mb-24 Меню
						.footer-nav-list.footer-nav-list--extend
							-
								var items = [
									{name: "Пицца", id: "#pizza"},
									{name: "WOK", id: "#wok"},
									{name: "Шурма", id: "#roll"},
									{name: "Кесадия", id: "#kesadia"},
									{name: "Пироги", id: "#cake"},
									{name: "Супы", id: "#soup"},
									{name: "Напитки", id: "#drink"},
									{name: "Закуски", id: "#drink"},
									{name: "Бургеры", id: "#drink"},
									{name: "Соусы", id: "#drink"},
									{name: "Соки", id: "#drink"},
									{name: "Мясо", id: "#drink"},
								];
							each item in items
								a(href = item.id rel = 'm_PageScroll2id') #{item.name}
					.footer-col
						.type--lg.type--bold.mb-24 Компания
						.footer-nav-list
							-
								var items = [
									'Акции и новости ',
									'О нас',
									'Как сделать заказ',
									'Способы оплаты',
									'Вакансии',
									'Отзывы',
									'Контакты',
								];
							each item in items
								a(href='#') #{item.name} #{item}

					.footer-col
						.type--lg.type--bold.mb-24 Клиентам
						.footer-nav-list
							-
								var items = [
									'Ищем поставщиков  ',
									'Предложить помещение',
									'Франшиза',
									'Школа шаурмы',
									'Пользовательское соглашение',
									'Политика конфиденциальности',
									'',
								];
							each item in items
								a(href='#') #{item.name} #{item}
	.footer-add-wrap
		.main-cont
			.footer-add
				.get-pay
					img(src="img/payment--light.svg", alt="")
				a(href="/").create
					span Разработка сайта:
					img(src="img/jq.svg", alt="")
	.cookie
		// to show add class .cookie + .cookie--active
		.main-cont
			.cookie-wrap
				.cookie-text Мы используем cookies для быстрой и удобной работы сайта. Продолжая пользоваться сайтом, вы принимаете #[a(href="#").link--mark условия обработки]&nbsp;персональных данных
				+icon("close","icon icon-close")
	if(!isCart)
		a(href="#").cart-mobile
			+icon("cart--color","icon")
			.cart-mobile-cost <span class="js-basket-animate">2850</span>₽

	//block footer end