mixin header()
	//block header
	.header
		//header-top

		.header-top-wrap
			.main-cont
				.header-top
					.head-toggle
						+icon("menu","icon icon-open")
						+icon("close","icon icon-close")
					a(href="/").logo
						img(src="img/logo.svg", alt="")
					.header-location
						.header-info
							.header-info__icon
								+icon("location","icon")
							.header-info__cont
								.header-info__val Барнаул
								.header-info__text проспект Независимости, 90
							.bubble-loc.hidden
								// NOTE!!! REMOVE Class .hidden
								.bubble-loc__title Ваш город  <span class="type--mark type--bold">Москва ?</span>
								.bubble-loc__footer
									.bubble-loc__footer--true Да
									.bubble-loc__footer--false Нет, выбрать другой
					.header-contact
						.header-info
							.header-info__icon
								+icon("phone","icon")
							.header-info__cont
								.header-info__val
									a(href="tel:+7 (917) 58-55-05") +7(917)<b>58-55-05</b>
								.header-info__text Сегодня 00:00 - 23:59
					.header-top-nav
						-
							var items = [
								'О нас','Доставка и оплата','Отзывы','Акции','Франчайзинг'
								];
						each item in items
							a(href="#").header-top-nav__el #{item}

					.soc-row.soc-row--sm
						a(href="#").soc-row__el
							+icon("soc-instagram","icon")
						a(href="#").soc-row__el
							+icon("soc-vk","icon")
						a(href="#").soc-row__el
							+icon("soc-fl","icon")
					a(href="tel:+7 (917) 58-55-05").header-callback
						+icon("phone","icon")
					//toggle class "active" если пользователь авторизован
					// Если не авторизован .header-auth-name Войти бонусы не выводить
					.header-auth-wrap.active
						.header-auth--simple А
						.header-auth
							+icon("user","icon")
							.header-auth-state
								.header-auth-name Александр
								.header-auth-bonus 2300 Б
					a(href="#").cart-wrap.cart-wrap--mobile
						.cart-cost 2 850 ₽
						.cart
							+icon("cart--color","icon")
							.cart-val 33
		.header-menu-wrap
			.main-cont
				.cart-msgList
				// js click - > showMsgAdd("Пицца 30см с сыром")
				.header-menu
					a(href="/").logo
						img(src="img/logo.svg", alt="")
					a(href="tel:8(495)938-19-05").header-menu__call
						+icon("phone","icon")
					.header-nav
						-
							var items = [
								//{name: "главная", id: "#main"},
								{name: "Пицца", id: "#pizza"},
								{name: "WOK", id: "#wok"},
								{name: "Шурма", id: "#roll"},
								{name: "Кесадия", id: "#kesadia"},
								{name: "Пироги", id: "#cake"},
								{name: "Супы", id: "#soup"},
							];
						each item in items
							a(href=item.id rel='m_PageScroll2id').header-nav__el #{item.name}
						// Это список категорий, который хранится под еще
						// Появлятся в моб версии меню
						.header-nav__el.header-nav__el--more Десерты
						.header-nav__el.header-nav__el--more Напитки
						.header-nav__el.header-nav__el--more Дополнительно
						.header-nav__el.header-nav__el--more Замороженная продукция
						// Это список категорий, который хранится под еще === end
						.header-nav__more
							.dropdown.dropdown--light
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-current__val Еще
									+icon("arrow-down-fat","icon")
								.dropdown-menu
									-
										var items = [
											{name: "Пицца", id: "#pizza"},
											{name: "WOK", id: "#wok"},
											{name: "Шурма", id: "#roll"},
											{name: "Кесадия", id: "#kesadia"},
											{name: "Пироги", id: "#cake"},
											{name: "Супы", id: "#soup"},
										];
									each item in items
										a(data-value="#" href=item.id rel='m_PageScroll2id').dropdown-menu__el #{item.name}
						a(href="#drink" rel='m_PageScroll2id').header-nav__el Напитки

					.cart-wrap.js-cart-wrap.cart-wrap--desktop
						.cart-cost 2 850 ₽
						.cart.js-cart
							+icon("cart--color","icon")
							.cart-val 33

						.basket-wrap
							.basket
								.basket-wrap-coner
								// !!! remove .hidden on state empty
								.basket-empty.hidden
									img(src="img/empty-cart.svg", alt="").basket-empty-img
									.basket-empty__title Корзина пуста :(
									.basket-empty__text Бесплатная доставка от 500 ₽, доставляем за 60 минут
								.basket-list
									.basket-container.scroll-template
										- for (var i=0;i<5;i++)
											.basket__el
												.basket__el-info
													.basket__img(style="background-image:url('img/item-2.jpg')")
													.basket__cont
														.basket__name
															span Креветка в соусе Терияки #{i + 1}
															.basket__delete
																+icon("delete","icon")
														.basket__descr Классический, грибы, горчичный соус, помидоры
														.basket__el-change
															.basket__inc.incr--small
																+incr(1,"incr--single incr--small")
															.basket__price 270 р
								//basket-footer
								.basket-footer-wrap
									.basket-msg-cont
										.basket-msg
											img(src="img/person/person-glass.svg", alt="")
											.basket-msg-info До бесплатной доставки осталось 256 р.
									.basket-footer
										.basket-footer-total
											.basket-footer-total__text сумма
											.basket-footer-total__val 1570 р
										a(href="#").basket-footer-get В корзину
		//slide menu
		.slide-menu
			.slide-row
				.slide-header-contact
					.slide-header-info
						.slide-header-info__icon
							+icon("location","icon")
						.slide-header-info__cont
							.slide-header-info__val Москва
							.slide-header-info__text проспект Независимости, 90
			.slide-row
				.slide-header-contact
					.slide-header-info
						.slide-header-info__icon
							+icon("phone","icon")
						.slide-header-info__cont
							.slide-header-info__val
								a(href="tel:+7 (707) 988 78 87")  +7 (707) 988 78 87
							.slide-header-info__text Сегодня 10 - 24
			.slide-row
				.slide-menu__list
					a(href="#").slide-menu__list-el О нас
					a(href="#").slide-menu__list-el Доставка и оплата
					a(href="#").slide-menu__list-el Отзывы
					a(href="#").slide-menu__list-el Акции
					a(href="#").slide-menu__list-el Франчайзинг
			.slide-row
				.soc-row
					a(href="#").soc-row__el
						+icon("soc-youtube","icon")
					a(href="#").soc-row__el
						+icon("soc-instagram","icon")
					a(href="#").soc-row__el
						+icon("soc-vk","icon")
			a(href="#")
				img(src="img/app-google.svg", alt="").mb-24
			a(href="#")
				img(src="img/app-apstore.svg", alt="").mb-24
	//block header end